<div class="signin-container container-fluid">
    <section>
        <div class="imgBox">
            <img src="../../../assets/Images/dmitry-demidko-z4VuRg-ZOEg-unsplash.jpg">
        </div>
        <div class="contentBox">
            <div class="fromBox">
            <h2>Log  In</h2>
            <form>
                <div class="inputbox">
                <span>Email</span>
                <input type="email" name="">
                </div>
                <div class="inputbox">
                <span>Password</span>
                <input type="password" name="">
                </div>
                <div class="inputbox">
                    <p>Forgot password ? <a routerLink ="/resetpassword">Reset Here</a></p>
                </div>
                <div class="inputbox">
                <input type="submit" name="" value="Sign in">
                </div>
            </form>
            </div>
        </div>
    </section>
</div>