<div class="signin-container container-fluid">
    <section>
        <div class="imgBox">
            <img src="../../../assets/Images/yiorgos-ntrahas-lp8ZlyAZjy8-unsplash.jpg">
        </div>
        <div class="contentBox">
            <div class="fromBox">
            <h2>Password Reset</h2>
            <form>
                <div class="inputbox">
                <span>Email</span>
                <input type="email" name="">
                </div>
                <div class="inputbox">
                <span>Password</span>
                <input type="password" name="">
                </div>
                <div class="inputbox">
                    <span>Confirm password</span>
                    <input type="password" name="">
                </div>               
                <div class="inputbox">
                <input type="submit" name="" value="Reset password">
                </div>
            </form>
            </div>
        </div>
    </section>
</div>