<div class="signin-container container-fluid">
   
    <section>
        <div class="imgBox">
            <img src="../../../assets/Images/dmitry-demidko-z4VuRg-ZOEg-unsplash.jpg">
        </div>
        <div class="contentBox">
            <div class="fromBox">   
                <form class="form-container" id="form-container-id">
                <div  class="form-div">
                    <h2>Cearte Account - Personal Info</h2>
                    <div class="row right-side">
                        <div class="col">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                        
                        </div>
                        <div class="col left-side">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="pagination-actionarea">                   
                        <div class="inputbox">
                            <input id="firstNextElement" type="button" name="" value="Next">
                        </div>
                    </div>                
                </div>
                <div class="form-div">
                    <h2>Cearte Account - Address Info</h2>
                    <div class="row right-side">
                        <div class="col">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                        
                        </div>
                        <div class="col left-side">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="pagination-actionarea">
                        <div class="inputbox">
                            <input id="firstPrevElement" type="button" name="" value="Previous">
                        </div>
                        <div class="inputbox">
                            <input id="secondNextElement" type="button" name="" value="Next">
                        </div>
                    </div>                
                </div>
                <div class="form-div">
                    <h2>Cearte Account - Document Info</h2>
                    <div class="row right-side">
                        <div class="col">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                        
                        </div>
                        <div class="col left-side">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="pagination-actionarea">
                        <div class="inputbox">
                            <input id="secondPrevElement" type="button" name="" value="Previous">
                        </div>
                        <div class="inputbox">
                            <input id="thirdNextElement" type="button" name="" value="Next">
                        </div>
                    </div>                
                </div>
                <div class="form-div">
                    <h2>Cearte Account - Reference Info</h2>
                    <div class="row right-side">
                        <div class="col">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                        
                        </div>
                        <div class="col left-side">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="pagination-actionarea">
                        <div class="inputbox">
                            <input id="thirdPrevElement" type="button" name="" value="Previous">
                        </div>
                        <div class="inputbox">
                            <input id="submitElelement" type="button" name="" value="Create Account">
                        </div>
                    </div>                
                </div>
                </form>
                <!-- <form>
                    <h2>Cearte Account - Reference Details</h2>
                    <div class="row right-side">
                        <div class="col">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                        
                        </div>
                        <div class="col left-side">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="pagination-actionarea">
                        <div class="inputbox">
                            <input type="button" name="" value="Previous">
                        </div>
                        <div class="inputbox">
                            <input type="button" name="" value="Next">
                        </div>
                    </div>                
                </form>
                <form>
                    <h2>Cearte Account - Documents</h2>
                    <div class="row right-side">
                        <div class="col">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                        
                        </div>
                        <div class="col left-side">
                            <div class="row">
                                <div class="inputbox">
                                    <span>Email</span>
                                    <input type="email" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="inputbox">
                                    <span>Password</span>
                                    <input type="password" name="">
                                    </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="pagination-actionarea">
                        <div class="inputbox">
                            <input type="button" name="" value="Previous">
                        </div>
                        <div class="inputbox">
                            <input type="submit" name="" value="Create Account">
                        </div>
                    </div>                
                </form> -->
            </div>
        </div>
    </section>
    <!-- <div class="col-lg-5">

    </div>
    <div class="col-lg-7 create-section">
        <section class="signin-section">
            <div class="row">
                <h1>Create Account </h1>
            </div>
            <div class="row create-section-row-area">
                <div class="align-create-section col-lg-5">
                    <div class="row">
                        <div>
                            <label for="exampleInputEmail1">Email</label>
                            <input 
                            type="email"                          
                            id="exampleInputEmail1" 
                            aria-describedby="emailHelp" 
                            placeholder="abc@xyz.com">                  
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="exampleInputEmail1">Date Of Birth</label>
                            <input 
                            type="date" >                  
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mobile No</label>
                            <input 
                            type="tel" 
                            minlength="10"
                            maxlength="10"            
                            placeholder="Phone Number">                  
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Building/House No/ block/floor">                  
                        </div>
                    </div>
                    <div class="row">
                            <label for="exampleInputEmail1">State</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Building/House No/ block/floor">      
            
                    </div>
                    <div class="row">
                            <label for="exampleInputEmail1">Country</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Building/House No/ block/floor">      
                    
                    </div>
                    <div class="row">
                            <label for="exampleInputEmail1">Citizenship</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Building/House No/ block/floor"> 
        
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Citizen Status</label>
                        <select name="cars" id="cars">
                            <option value="volvo">NRI</option>
                            <option value="saab">Permanent</option>
                        </select>
                    </div>
                    <div class="row">
                            <label for="exampleInputEmail1">Marital Satus</label>
                            <select name="cars" id="cars">
                                <option value="volvo">Signle</option>
                                <option value="saab">Married</option>
                                <option value="saab">Divorced</option>
                            </select>
            
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Gender</label>
                            <select name="cars" id="cars">
                                <option value="volvo">Male</option>
                                <option value="saab">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Ref holder Name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="provide "> 
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-lg-5">
                    <div class="row">
                            <label for="exampleInputEmail1">Guardian Name</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            placeholder="name of your guardian"> 
                    
                    </div>
                    <div class="row">
                        <div class="dropdown-item">
                            <label for="exampleInputEmail1">Guardian Type</label>
                            <select name="cars" id="cars">
                                <option value="volvo">Wife</option>
                                <option value="saab">Husband</option>
                                <option value="opel">Father</option>
                                <option value="audi">Mother</option>
                                <option value="audi">Son</option>
                                <option value="audi">Daughter</option>
                            </select>
                        </div>
                       
                    </div>
                    <div class="row">
                            <label for="exampleInputEmail1">Regitration Date</label>
                            <input 
                            type="date" 
                            class="form-control"> 
            
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Account type</label>
                        <select name="cars" id="cars">
                            <option value="volvo">Savings Account</option>
                            <option value="saab">Current Account</option>                  
                        </select>
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Branch Name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="enter your branch"> 
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Branch Name</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="enter your branch"> 
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Initial Deposit Amount</label>
                        <input 
                        type="number" 
                        class="form-control" 
                        placeholder="enter inital deposit amount"> 
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Identity Proof</label>
                        <select name="cars" id="cars">
                            <option value="volvo">Adhar Card</option>
                            <option value="saab">Pan Card</option>
                            <option value="opel">Voter Card</option>
                            <option value="audi">Driving License</option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Document No</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="enter identity document no"> 
                    </div>
                    <div class="row">
                        <label for="exampleInputEmail1">Reference Account Holder Address</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        placeholder="enter identity document no">  
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="button" value="Create Account">
            </div>
        </section>
    </div> -->
</div>