<div class="container-fluid p-0 m-0">
    <div class="col">
        <div class="row h-30 p-0 m-0">
            <div class="empty-space">
                
            </div>            
            <div class="avatar-area">
                <img src="../../../assets/Images/avatar-4.png" alt="" class="customer-img">
            </div>            
        </div>
        <div class="row h-40 p-0 m-0">
            <div class="empty-space">

            </div>
            <div class="empty-space">
                
            </div>
            <div class="row h-50 p-0 m-0">
                <div class="row mb-5 text-center">
                    <div class="customer">customer name</div>
                    <div class="customer">customer Id</div>    
                    <div class="customer">account type</div>  
                </div>
                <div class="row mb-5 p-0 m-0 d-flex contact-details">
                    <div class="col-sm-3 mb-2 p-3 customer-amount">
                        <div class="icon">&#8377;</div>
                        <p class="amount">234234244</p>
                    </div>
  
                    <div class="col-sm-3 mb-2  p-3 customer-phone-number">
                        <div class="icon">&#9742;</div>
                        <p class="amount">234234244</p>
                    </div>
                    <div class="col-sm-6 mb-2  p-3 customer-email-id">
                        <div class="icon"> &#x1F4E7;</div>
                        <p class="amount">sontu.friends@gmail.com</p>
                    </div>
                </div>                       
            </div>
        </div>
        <div class="row p-0 m-0 h-auto">
            <ul class="cutomer-loan">
                <li *ngFor="let num of numbers">{{num}}</li>
            </ul>
        </div>
        <div class="row p-5 m-0 h-15 bg-primary rounded-bottom">

        </div>
        <div class="empty-space"></div>
    </div> 
</div>
